<h3>Users info</h3>
<div class = "book_detail"><%= image_tag user.get_profile_image(100,100) %></div>
  
  <table>
    <tr class = "bottom_space10">
      <th style="text-align:center">name</th>
    </tr>
    <tr class ="book_detail">
      <td style="text-align:center" class = "username-box bottom_space10"><%= user.name %></td>
    </tr>
    
    <tr>
      <th style="text-align:center" class = "bottom_space10">introduction</th>
    </tr>
    <tr>
      <td style="text-align:center" class = "bottom_space10"><%= user.introduction %></td>
    </tr>
  </table>
  
  <%= link_to edit_user_path(user.id) do %>
    <div class = "user_edit_box">
      <div class = "user_edit_bottom"><i class="fas fa-user-cog"></i></div>
    </div>
  <% end %>
  
  
  <div class = "center_margin">
    <h3 class = "top_space8" style = "text-align:center">New book</h3>
   <%= form_with model: book, method: :post do |f| %>
   <div class = "left_padding top_space8">Title</div>
      <%= f.text_field :title %>
    <div class = "left_padding top_space8">Opinion</div>
      <%= f.text_area :body %>
   <div class = "top_space8"><%= f.submit 'Create Book', class: "btn btn-secondary"%></div>
  <% end %>
  </div>
