<div>
  <h1>Users info</h1>
  
  <table>
    <tr>
      <th>name</th> <th></th>
    </tr>
    <tr>
      <td colspan = "2"><%= user.name %></td>
    </tr>
    
    <tr>
      <th>introduction</th> <th></th>
    </tr>
    <tr>
      <td colspan = "2"><%= user.introduction %></td>
    </tr>
    
  </table>
  
  <div>
    <h1>New book</h1>
   <%= form_with model: @Book do |f| %>
   <div>Title</div>
      <%= f.text_field :title %>
    <div>Opinion</div>
      <%= f.text_area :introduction %>
    <%= f.submit 'Create Book' %>
  <% end %>
  </div>
  
</div>