<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class = "container">
  <div class = "row">
    <div class = "col-md-7">
      <h2>
        Editing Book
      </h2>
      
       <%= form_with model: @book, method: :patch do |f| %>
       <div class = "left_padding top_space8">Title</div>
          <%= f.text_field :title %>
        <div class = "left_padding top_space8">Opinion</div>
          <%= f.text_area :body %>
       <div class = "top_space8"><%= f.submit 'Update Book', class: "btn btn-secondary"%></div>
      <% end %>
      
      <div class = "top_space8">
        <%= link_to 'Show', book_path(@book.id) %> | 
        <%= link_to 'Back', books_path %>
      </div>

    </div>
  </div>
</div>