<% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<div class = "container">
  <div class = "row">
    
    <div class ="col-md-3"><%= render 'user_info', user: @user, book: @book %></div>
  
    <div class = "col-md-8 offset-md-1">
      <h3 class ="book_detail">Books</h3>
    
      <div>
        <table>
          <tr class ="book_detail">
            <th class = "book_padding"></th> <th class = "book_padding">Title</th> <th class = "book_padding">Opinion</th>
          </tr>
          <% @books.each do |book| %>
            <tr class = "book_detail">
              <td class = "book_padding"><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user_id) %></td>
              <td class = "book_padding"><%= link_to book.title, book_path(book.id)%></td>
              <td class = "book_padding"><%= book.body %></td>
              <td><%= "コメント数: #{book.book_comments.count}"%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    
  </div>
</div>